/* * {
    outline: 1px solid tomato;
} */

/* color = #073184 */

#Header .header_wrap {
    display: flex;
    flex-direction: column;
}

.menu_wrap {
    display: flex;
    justify-content: space-between;
    order: 2;

    line-height: 60px;
}

.menu_wrap h1 img {
    vertical-align: -5px;
}

.menu_wrap .gnb>ul {
    display: flex;
    gap: 45px;

    font-weight: 600;
}

.util {
    order: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.util>ul {
    display: flex;
    gap: 15px;
    justify-content: right;

    line-height: 40px;
    font-size: 12px;
    text-decoration: underline;
}


/* ----------main_slide------------------------------ */


.main_slide {
    position: relative;
}

.main_slide .slide_box .itm {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
}

.main_slide .slide_box .itm01 {
    background-image: url(../images/visual_slide01.png);
}

.main_slide .slide_box .itm02 {
    background-image: url(../images/visual_slide02.png);
}

.main_slide .slide_box .itm03 {
    background-image: url(../images/visual_slide03.png);
}

.main_slide .slide_box .itm04 {
    background-image: url(../images/visual_slide04.png);
}

.main_slide .slide_box .itm05 {
    background-image: url(../images/visual_slide05.png);
}

.main_slide .slide_box .itm06 {
    background-image: url(../images/visual_slide06.jpg);
}

.main_slide .slide_box .itm07 {
    background-image: url(../images/visual_slide07.jpg);
}

.main_slide .slide_box .itm08 {
    background-image: url(../images/visual_slide08.jpg);
}

.main_slide .slide_box .itm09 {
    background-image: url(../images/visual_slide09.jpg);
}

.main_slide .slide_box .itm10 {
    background-image: url(../images/visual_slide10.png);
}

.main_slide .slide_dots {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    /* gap: 4px; */
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.4) 25%, rgba(255, 255, 255, 0) 40%);

    padding: 0 calc((100% - 1200px) / 2 + 15px);
    color: #fff;
}

.main_slide .slide_dots>li {
    position: relative;
    width: 32px;
    height: 32px;
}

.main_slide .slide_dots>li.on {
    border: none;
}

.main_slide .slide_dots>li a {
    display: inline-block;
    height: 32px;
    width: 32px;
    overflow: hidden;
    transition: width 0.5s;
}

.main_slide .slide_dots>li.on a {
    width: 120px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

.main_slide .slide_dots>li span {
    display: block;
    padding: 6px 0 8px 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.slide_dots>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: #fff;
}


/* ----------main_content------------------------------ */


.main_content .grid_container {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "itm01 itm02 itm03 itm04"
        "itm05 itm02 itm06 itm06"
        "itm07 itm08 itm08 itm09";
}

.main_content .grid_container .grid_itm {
    position: relative;
}

.main_content .grid_container .grid_itm figure {
    height: 100%;
}

.main_content .grid_container .grid_itm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_content .grid_container .grid_itm:nth-child(1) {
    grid-area: itm01;
}

.main_content .grid_container .grid_itm:nth-child(2) {
    grid-area: itm02;
}

.main_content .grid_container .grid_itm:nth-child(3) {
    grid-area: itm03;
}

.main_content .grid_container .grid_itm:nth-child(4) {
    grid-area: itm04;
}

.main_content .grid_container .grid_itm:nth-child(5) {
    grid-area: itm05;
}

.main_content .grid_container .grid_itm:nth-child(6) {
    grid-area: itm06;
}

.main_content .grid_container .grid_itm:nth-child(7) {
    grid-area: itm07;
}

.main_content .grid_container .grid_itm:nth-child(8) {
    grid-area: itm08;
}

.main_content .grid_container .grid_itm:nth-child(9) {
    grid-area: itm09;
}

.main_content .grid_container .grid_itm strong {
    position: absolute;
    top: 24px;
    left: 16px;

    font-size: 24px;
    color: #fff;
}

.main_content .grid_container .grid_itm .text_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 0;
    overflow: hidden;

    background-color: rgba(8, 49, 133, 0.9);
    color: #fff;
    text-align: center;

    transition: all 0.5s;
}

.main_content .grid_container .grid_itm .text_box p {
    margin: 70px 0 32px 0;
    line-height: 20px;
}

.main_content .grid_container .grid_itm:nth-child(2) .text_box p {
    margin: 210px 0 32px 0;
}

.main_content .grid_container .grid_itm:hover .text_box {
    height: 100%;
}


/* ----------------main_notice--------------------- */


.main_notice {
    background: #f9f9f9;
}

.main_notice .title {
    text-align: left;
}

.main_notice .notice_con {
    display: flex;
    gap: 30px;
}

.main_notice .notice_con>* {
    flex: 1;
}

.main_notice .notice_con .left_news {
    overflow: hidden;
}

.notice_con .left_news .tab_menu {
    display: flex;
    gap: 4px;
    margin: 0 0 32px 0;
}

.notice_con .left_news .tab_menu li a {
    padding: 8px 32px;
    border: 1px solid #202120;
    border-radius: 19px;

    font-size: 14px;
}

.notice_con .left_news .tab_menu li.on a {
    background: #202120;
    color: #fff;
}

.notice_con .left_news .tab_con>ul {
    display: none;
}

.notice_con .left_news .tab_con>ul.on {
    display: block;
}

.notice_con .left_news .tab_con>ul>li {
    margin: 0 0 12px 0;
    padding: 0 0 4px 0;

    border-bottom: 1px solid #ddd;
}

.notice_con .left_news .tab_con>ul>li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.notice_con .left_news .tab_con>ul>li span {
    display: block;
    margin: 0 0 4px 0;
    font-size: 12px;
}

.notice_con .left_news .tab_con>ul>li strong {
    font-size: 18px;
    margin: 0 16px 0 0;
}

.main_notice .notice_con .right_sns {
    min-width: 0;
}

.main_notice .right_sns .sns_con .sns_slide {
    position: relative;
    margin: 0 -15px;
}

.main_notice .right_sns .sns_slide .slick-dots {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_notice .right_sns .sns_slide .slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.main_notice .right_sns .sns_slide .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #202120;
    border-radius: 50%;
    background: transparent;
}

.main_notice .right_sns .sns_slide .slick-dots li.slick-active button {
    background: #202120;
}

.main_notice .right_sns .sns_slide .slick-arrow {
    position: absolute;
    bottom: -32px;

    width: 12px;
    height: 12px;

    background: transparent;
    border: none;

    font-size: 0;
}

.main_notice .right_sns .sns_slide .slick-prev {
    left: 40%;
}

.main_notice .right_sns .sns_slide .slick-prev::before {
    content: "\e5cb";
    font-family: 'Material Symbols Outlined';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.main_notice .right_sns .sns_slide .slick-next {
    right: 40%;
}

.main_notice .right_sns .sns_slide .slick-next::before {
    content: "\e5cc";
    font-family: 'Material Symbols Outlined';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;

}

.main_notice .right_sns .sns_con .itm {
    text-align: center;
}

.main_notice .right_sns .sns_con .itm figure {
    margin: 0 0 12px 0;
}

.main_notice .right_sns .sns_con .itm img {
    width: 100%;
    padding: 0 15px;
}

.main_notice .right_sns .sns_con .itm strong {
    display: inline-block;
    margin: 0 0 8px 0;

    font-weight: 500;
}

.main_notice .right_sns .sns_con .itm p {
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px;
}

/* ---------------footer-------------------------- */


#Footer {
    padding: 40px 0;
    background: #202120;
    color: #fff;
}

#Footer .footer_sitemap {
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#Footer .footer_sitemap>ul {
    display: flex;
    justify-content: space-between;
}

#Footer .footer_sitemap>ul>li>a {
    display: inline-block;
    margin: 0 0 16px 0;
}

#Footer .footer_sitemap .sub_sitemap>li {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
}

#Footer .footer_right {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    white-space: nowrap;
}

#Footer .footer_right>ul {
    display: flex;
    gap: 30px;
}

#Footer .footer_right>ul>li {
    position: relative;
    font-size: 14px;
    font-weight: 200;
}

#Footer .footer_right>ul>li:nth-child(1) {
    font-weight: 400;
}

#Footer .footer_right>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);

    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.1);
}

#Footer .footer_right>ul>li a {
    vertical-align: -5px;
}

#Footer .footer_right .lnk select {
    font-size: 14px;
    background: #202120;
    color: #fff;

    padding: 4px 8px;
}

#Footer .copyright {
    padding: 20px 0 0 0;
    text-align: center;

    font-size: 14px;
    font-weight: 200;

    line-height: 18px;
}

.totop_btn {
    position: fixed;
    right: calc((100% - 1200px) / 2 - 30px);
    bottom: 450px;

    width: 50px;
    height: 50px;

    transform: translate(100%, 0);

    color: #073184;
    border: none;
    background: transparent;
    cursor: pointer;

    opacity: 0;
    transition: 0.5s;
}

.totop_btn.on {
    opacity: 1;
}

.totop_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 50px;
    background: #202120;
}

.totop_btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 20px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    background: #202120;
}